@import "ui-variables";

.tree-view-resizer {
	display: -webkit-flex !important;
	flex-direction: column;
	align-items: stretch;
}

.tree-view-open-files {
	> .list-tree {
		width: 100%;
		overflow: auto;
		padding-left: 5px;
		padding-right: 10px;
	}

	overflow: auto;
	flex: 0 0 1;
	position: relative;

	.close-open-file {
		background: none;
		border: none;
		margin-left: -24px;
		display: inline-block;
		color: @text-color;

		&:hover {
			color: @text-color-highlight;
		}
	}

	.close-open-file::before {
		font-family: 'Octicons Regular';
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		text-decoration: none;
		font-size: 12px;
		width: 12px;
		height: 12px;
		content: "\f081";
		position: relative;
		top: -1px;
	}

}

.tree-view-resizer .tree-view-scroller {
	flex: 1 1;
	height: 100%;
	overflow: auto;
	position: relative;

	.tree-view {
		height: auto;
		min-height: inherit;
	}
}
